body{
    background-color: #CFC;
    color: #00F;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    line-height: 150%;
}

h1{
    color: #F00;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;    
}

h1:hover{
    color: darkorange;
}

h1{
    transition: color 0.8s linear 0.2s;
}

h2{
    color: #A52A2A;
    text-justify: auto;
}


.dl{
    color: #060; 
}

.sus{
    font-size: 20px;
    font-weight: bold;
}

.txt{
    color: #FFF;
    background-color: #000;
    font-style: italic;
}

a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.link:hover{
    color: fuchsia;
}

.link{
    transition: color 0.8s linear 0.2s;
}

